<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="EngineFiles" Directory="EngineDir">
      <Component Id="EngFile1">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseEditor.ini" />
      </Component>
      <Component Id="EngFile2">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseEditorKeyBindings.ini" />
      </Component>
      <Component Id="EngFile3">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseEditorUserSettings.ini" />
      </Component>
      <Component Id="EngFile4">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseEngine.ini" />
      </Component>
      <Component Id="EngFile5">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseGame.ini" />
      </Component>
      <Component Id="EngFile6">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseGameStats.ini" />
      </Component>
      <Component Id="EngFile7">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseInput.ini" />
      </Component>
      <Component Id="EngFile8">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseLightmass.ini" />
      </Component>
      <Component Id="EngFile9">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseSystemSettings.ini" />
      </Component>
      <Component Id="EngFile10">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\BaseUI.ini" />
      </Component>
      <Component Id="EngFile11">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Config\ConsoleVariables.ini" />
      </Component>
      <Component Id="EngFile12">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\AutoGenerated.Properties" />
      </Component>
      <Component Id="EngFile13">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\core.CHN" />
      </Component>
      <Component Id="EngFile14">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\descriptions.CHN" />
      </Component>
      <Component Id="EngFile15">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\editormaptemplates.CHN" />
      </Component>
      <Component Id="EngFile16">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\editortips.CHN" />
      </Component>
      <Component Id="EngFile17">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\Engine.chn" />
      </Component>
      <Component Id="EngFile18">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\gfxuieditor.CHN" />
      </Component>
      <Component Id="EngFile19">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\launch.CHN" />
      </Component>
      <Component Id="EngFile20">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\onlinesubsystemgamespy.CHN" />
      </Component>
      <Component Id="EngFile21">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\Properties.CHN" />
      </Component>
      <Component Id="EngFile22">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\startup.CHN" />
      </Component>
      <Component Id="EngFile23">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\SubstanceAir.CHN" />
      </Component>
      <Component Id="EngFile24">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\subtitles.CHN" />
      </Component>
      <Component Id="EngFile25">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\unrealed.CHN" />
      </Component>
      <Component Id="EngFile26">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\windrv.CHN" />
      </Component>
      <Component Id="EngFile27">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CHN\xwindow.CHN" />
      </Component>
      <Component Id="EngFile28">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Core.cze" />
      </Component>
      <Component Id="EngFile29">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Descriptions.cze" />
      </Component>
      <Component Id="EngFile30">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\editormaptemplates.CZE" />
      </Component>
      <Component Id="EngFile31">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\EditorTips.cze" />
      </Component>
      <Component Id="EngFile32">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Engine.cze" />
      </Component>
      <Component Id="EngFile33">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\gfxuieditor.CZE" />
      </Component>
      <Component Id="EngFile34">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Launch.cze" />
      </Component>
      <Component Id="EngFile35">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\OnlineSubsystemGameSpy.cze" />
      </Component>
      <Component Id="EngFile36">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Properties.CZE" />
      </Component>
      <Component Id="EngFile37">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\Startup.cze" />
      </Component>
      <Component Id="EngFile38">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\subtitles.CZE" />
      </Component>
      <Component Id="EngFile39">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\UnrealEd.cze" />
      </Component>
      <Component Id="EngFile40">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\WinDrv.cze" />
      </Component>
      <Component Id="EngFile41">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\CZE\XWindow.cze" />
      </Component>
      <Component Id="EngFile42">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\core.DEU" />
      </Component>
      <Component Id="EngFile43">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\descriptions.DEU" />
      </Component>
      <Component Id="EngFile44">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\editormaptemplates.DEU" />
      </Component>
      <Component Id="EngFile45">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\editortips.DEU" />
      </Component>
      <Component Id="EngFile46">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\Engine.deu" />
      </Component>
      <Component Id="EngFile47">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\gfxuieditor.DEU" />
      </Component>
      <Component Id="EngFile48">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\launch.DEU" />
      </Component>
      <Component Id="EngFile49">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\onlinesubsystemgamespy.DEU" />
      </Component>
      <Component Id="EngFile50">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\Properties.DEU" />
      </Component>
      <Component Id="EngFile51">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\startup.DEU" />
      </Component>
      <Component Id="EngFile52">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\subtitles.DEU" />
      </Component>
      <Component Id="EngFile53">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\unrealed.DEU" />
      </Component>
      <Component Id="EngFile54">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\windrv.DEU" />
      </Component>
      <Component Id="EngFile55">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\DEU\xwindow.DEU" />
      </Component>
      <Component Id="EngFile56">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\core.ESM" />
      </Component>
      <Component Id="EngFile57">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\descriptions.ESM" />
      </Component>
      <Component Id="EngFile58">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\editormaptemplates.ESM" />
      </Component>
      <Component Id="EngFile59">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\editortips.ESM" />
      </Component>
      <Component Id="EngFile60">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\Engine.esm" />
      </Component>
      <Component Id="EngFile61">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\gfxuieditor.ESM" />
      </Component>
      <Component Id="EngFile62">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\launch.ESM" />
      </Component>
      <Component Id="EngFile63">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\onlinesubsystemgamespy.ESM" />
      </Component>
      <Component Id="EngFile64">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\Properties.ESM" />
      </Component>
      <Component Id="EngFile65">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\startup.ESM" />
      </Component>
      <Component Id="EngFile66">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\subtitles.ESM" />
      </Component>
      <Component Id="EngFile67">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\unrealed.ESM" />
      </Component>
      <Component Id="EngFile68">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\windrv.ESM" />
      </Component>
      <Component Id="EngFile69">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESM\xwindow.ESM" />
      </Component>
      <Component Id="EngFile70">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\core.ESN" />
      </Component>
      <Component Id="EngFile71">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\descriptions.ESN" />
      </Component>
      <Component Id="EngFile72">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\editormaptemplates.ESN" />
      </Component>
      <Component Id="EngFile73">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\editortips.ESN" />
      </Component>
      <Component Id="EngFile74">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\Engine.esn" />
      </Component>
      <Component Id="EngFile75">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\gfxuieditor.ESN" />
      </Component>
      <Component Id="EngFile76">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\launch.ESN" />
      </Component>
      <Component Id="EngFile77">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\onlinesubsystemgamespy.ESN" />
      </Component>
      <Component Id="EngFile78">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\Properties.ESN" />
      </Component>
      <Component Id="EngFile79">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\startup.ESN" />
      </Component>
      <Component Id="EngFile80">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\subtitles.ESN" />
      </Component>
      <Component Id="EngFile81">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\unrealed.ESN" />
      </Component>
      <Component Id="EngFile82">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\windrv.ESN" />
      </Component>
      <Component Id="EngFile83">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ESN\xwindow.ESN" />
      </Component>
      <Component Id="EngFile84">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\core.FRA" />
      </Component>
      <Component Id="EngFile85">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\descriptions.FRA" />
      </Component>
      <Component Id="EngFile86">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\editormaptemplates.FRA" />
      </Component>
      <Component Id="EngFile87">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\editortips.FRA" />
      </Component>
      <Component Id="EngFile88">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\engine.fra" />
      </Component>
      <Component Id="EngFile89">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\gfxuieditor.FRA" />
      </Component>
      <Component Id="EngFile90">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\Launch.fra" />
      </Component>
      <Component Id="EngFile91">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\onlinesubsystemgamespy.FRA" />
      </Component>
      <Component Id="EngFile92">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\Properties.FRA" />
      </Component>
      <Component Id="EngFile93">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\startup.FRA" />
      </Component>
      <Component Id="EngFile94">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\subtitles.FRA" />
      </Component>
      <Component Id="EngFile95">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\unrealed.FRA" />
      </Component>
      <Component Id="EngFile96">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\windrv.FRA" />
      </Component>
      <Component Id="EngFile97">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\FRA\xwindow.FRA" />
      </Component>
      <Component Id="EngFile98">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Core.hun" />
      </Component>
      <Component Id="EngFile99">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Descriptions.hun" />
      </Component>
      <Component Id="EngFile100">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\editormaptemplates.HUN" />
      </Component>
      <Component Id="EngFile101">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\EditorTips.hun" />
      </Component>
      <Component Id="EngFile102">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Engine.hun" />
      </Component>
      <Component Id="EngFile103">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\gfxuieditor.HUN" />
      </Component>
      <Component Id="EngFile104">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Launch.hun" />
      </Component>
      <Component Id="EngFile105">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\OnlineSubsystemGameSpy.hun" />
      </Component>
      <Component Id="EngFile106">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Properties.HUN" />
      </Component>
      <Component Id="EngFile107">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\Startup.hun" />
      </Component>
      <Component Id="EngFile108">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\subtitles.HUN" />
      </Component>
      <Component Id="EngFile109">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\UnrealEd.hun" />
      </Component>
      <Component Id="EngFile110">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\WinDrv.hun" />
      </Component>
      <Component Id="EngFile111">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\HUN\XWindow.hun" />
      </Component>
      <Component Id="EngFile112">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Core.int" />
      </Component>
      <Component Id="EngFile113">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Descriptions.int" />
      </Component>
      <Component Id="EngFile114">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\EditorMapTemplates.int" />
      </Component>
      <Component Id="EngFile115">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\EditorTips.int" />
      </Component>
      <Component Id="EngFile116">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Engine.int" />
      </Component>
      <Component Id="EngFile117">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\GFxUIEditor.int" />
      </Component>
      <Component Id="EngFile118">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Launch.int" />
      </Component>
      <Component Id="EngFile119">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\OnlineSubsystemGameSpy.int" />
      </Component>
      <Component Id="EngFile120">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Properties.int" />
      </Component>
      <Component Id="EngFile121">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Startup.int" />
      </Component>
      <Component Id="EngFile122">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\SubstanceAir.int" />
      </Component>
      <Component Id="EngFile123">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\Subtitles.int" />
      </Component>
      <Component Id="EngFile124">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\UnrealEd.int" />
      </Component>
      <Component Id="EngFile125">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\WinDrv.int" />
      </Component>
      <Component Id="EngFile126">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\INT\XWindow.int" />
      </Component>
      <Component Id="EngFile127">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\core.ITA" />
      </Component>
      <Component Id="EngFile128">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\descriptions.ITA" />
      </Component>
      <Component Id="EngFile129">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\editormaptemplates.ITA" />
      </Component>
      <Component Id="EngFile130">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\editortips.ITA" />
      </Component>
      <Component Id="EngFile131">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\engine.ita" />
      </Component>
      <Component Id="EngFile132">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\gfxuieditor.ITA" />
      </Component>
      <Component Id="EngFile133">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\launch.ITA" />
      </Component>
      <Component Id="EngFile134">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\onlinesubsystemgamespy.ITA" />
      </Component>
      <Component Id="EngFile135">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\Properties.ITA" />
      </Component>
      <Component Id="EngFile136">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\startup.ITA" />
      </Component>
      <Component Id="EngFile137">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\subtitles.ITA" />
      </Component>
      <Component Id="EngFile138">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\unrealed.ITA" />
      </Component>
      <Component Id="EngFile139">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\windrv.ITA" />
      </Component>
      <Component Id="EngFile140">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\ITA\xwindow.ITA" />
      </Component>
      <Component Id="EngFile141">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\Core.jpn" />
      </Component>
      <Component Id="EngFile142">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\Descriptions.jpn" />
      </Component>
      <Component Id="EngFile143">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\editormaptemplates.JPN" />
      </Component>
      <Component Id="EngFile144">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\EditorTips.jpn" />
      </Component>
      <Component Id="EngFile145">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\Engine.jpn" />
      </Component>
      <Component Id="EngFile146">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\gfxuieditor.JPN" />
      </Component>
      <Component Id="EngFile147">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\IpDrv.jpn" />
      </Component>
      <Component Id="EngFile148">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\Launch.jpn" />
      </Component>
      <Component Id="EngFile149">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\onlinesubsystemgamespy.JPN" />
      </Component>
      <Component Id="EngFile150">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\properties.JPN" />
      </Component>
      <Component Id="EngFile151">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\Startup.jpn" />
      </Component>
      <Component Id="EngFile152">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\SubstanceAir.jpn" />
      </Component>
      <Component Id="EngFile153">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\subtitles.JPN" />
      </Component>
      <Component Id="EngFile154">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\UnrealEd.jpn" />
      </Component>
      <Component Id="EngFile155">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\WinDrv.jpn" />
      </Component>
      <Component Id="EngFile156">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\JPN\XWindow.jpn" />
      </Component>
      <Component Id="EngFile157">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\core.KOR" />
      </Component>
      <Component Id="EngFile158">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\descriptions.KOR" />
      </Component>
      <Component Id="EngFile159">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\editormaptemplates.KOR" />
      </Component>
      <Component Id="EngFile160">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\EditorTips.kor" />
      </Component>
      <Component Id="EngFile161">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\engine.kor" />
      </Component>
      <Component Id="EngFile162">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\gfxuieditor.KOR" />
      </Component>
      <Component Id="EngFile163">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\launch.KOR" />
      </Component>
      <Component Id="EngFile164">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\onlinesubsystemgamespy.KOR" />
      </Component>
      <Component Id="EngFile165">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\Properties.kor" />
      </Component>
      <Component Id="EngFile166">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\startup.KOR" />
      </Component>
      <Component Id="EngFile167">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\SubstanceAir.KOR" />
      </Component>
      <Component Id="EngFile168">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\subtitles.KOR" />
      </Component>
      <Component Id="EngFile169">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\UnrealEd.kor" />
      </Component>
      <Component Id="EngFile170">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\windrv.KOR" />
      </Component>
      <Component Id="EngFile171">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\kor\xwindow.KOR" />
      </Component>
      <Component Id="EngFile172">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Core.pol" />
      </Component>
      <Component Id="EngFile173">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Descriptions.pol" />
      </Component>
      <Component Id="EngFile174">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\editormaptemplates.POL" />
      </Component>
      <Component Id="EngFile175">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\EditorTips.pol" />
      </Component>
      <Component Id="EngFile176">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Engine.pol" />
      </Component>
      <Component Id="EngFile177">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\gfxuieditor.POL" />
      </Component>
      <Component Id="EngFile178">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Launch.pol" />
      </Component>
      <Component Id="EngFile179">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\OnlineSubsystemGameSpy.pol" />
      </Component>
      <Component Id="EngFile180">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Properties.POL" />
      </Component>
      <Component Id="EngFile181">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\Startup.pol" />
      </Component>
      <Component Id="EngFile182">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\subtitles.POL" />
      </Component>
      <Component Id="EngFile183">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\UnrealEd.pol" />
      </Component>
      <Component Id="EngFile184">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\WinDrv.pol" />
      </Component>
      <Component Id="EngFile185">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\POL\XWindow.pol" />
      </Component>
      <Component Id="EngFile186">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\core.PTB" />
      </Component>
      <Component Id="EngFile187">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\descriptions.PTB" />
      </Component>
      <Component Id="EngFile188">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\editormaptemplates.PTB" />
      </Component>
      <Component Id="EngFile189">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\editortips.PTB" />
      </Component>
      <Component Id="EngFile190">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\engine.PTB" />
      </Component>
      <Component Id="EngFile191">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\gfxuieditor.PTB" />
      </Component>
      <Component Id="EngFile192">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\launch.PTB" />
      </Component>
      <Component Id="EngFile193">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\onlinesubsystemgamespy.PTB" />
      </Component>
      <Component Id="EngFile194">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\Properties.PTB" />
      </Component>
      <Component Id="EngFile195">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\startup.PTB" />
      </Component>
      <Component Id="EngFile196">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\subtitles.PTB" />
      </Component>
      <Component Id="EngFile197">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\unrealed.PTB" />
      </Component>
      <Component Id="EngFile198">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\windrv.PTB" />
      </Component>
      <Component Id="EngFile199">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\PTB\xwindow.PTB" />
      </Component>
      <Component Id="EngFile200">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\Core.rus" />
      </Component>
      <Component Id="EngFile201">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\descriptions.RUS" />
      </Component>
      <Component Id="EngFile202">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\editormaptemplates.RUS" />
      </Component>
      <Component Id="EngFile203">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\editortips.RUS" />
      </Component>
      <Component Id="EngFile204">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\Engine.rus" />
      </Component>
      <Component Id="EngFile205">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\gfxuieditor.RUS" />
      </Component>
      <Component Id="EngFile206">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\launch.RUS" />
      </Component>
      <Component Id="EngFile207">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\OnlineSubsystemGameSpy.rus" />
      </Component>
      <Component Id="EngFile208">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\Properties.RUS" />
      </Component>
      <Component Id="EngFile209">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\startup.RUS" />
      </Component>
      <Component Id="EngFile210">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\subtitles.RUS" />
      </Component>
      <Component Id="EngFile211">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\unrealed.RUS" />
      </Component>
      <Component Id="EngFile212">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\windrv.RUS" />
      </Component>
      <Component Id="EngFile213">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\RUS\xwindow.RUS" />
      </Component>
      <Component Id="EngFile214">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\core.SLO" />
      </Component>
      <Component Id="EngFile215">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\descriptions.SLO" />
      </Component>
      <Component Id="EngFile216">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\editormaptemplates.SLO" />
      </Component>
      <Component Id="EngFile217">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\editortips.SLO" />
      </Component>
      <Component Id="EngFile218">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\Engine.slo" />
      </Component>
      <Component Id="EngFile219">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\gfxuieditor.SLO" />
      </Component>
      <Component Id="EngFile220">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\launch.SLO" />
      </Component>
      <Component Id="EngFile221">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\onlinesubsystemgamespy.SLO" />
      </Component>
      <Component Id="EngFile222">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\Properties.SLO" />
      </Component>
      <Component Id="EngFile223">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\startup.SLO" />
      </Component>
      <Component Id="EngFile224">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\subtitles.SLO" />
      </Component>
      <Component Id="EngFile225">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\unrealed.SLO" />
      </Component>
      <Component Id="EngFile226">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\windrv.SLO" />
      </Component>
      <Component Id="EngFile227">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Localization\SLO\xwindow.SLO" />
      </Component>
      <Component Id="EngFile228">
        <File Source="D:\V100TERA\BACKUP_WORKING_LAUNCHER_2024-12-16\tera-rust-launcher\CustomInstaller\SourceFiles\Engine\Shaders\Shaders.gpk" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
